
project_id = "vpnaaaocqqmkslwqrkyd"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
enabled = true
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv6"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"
s3_region = "us-east-1"
s3_bucket = "supabase-storage"
s3_access_key = "625729a08b95bf1b7ff351a663f3a23c"
s3_secret_key = "850181e4652dd023b7a98c58ae0d2d34bd487ee0cc3254aed6ebb9a68b8c42d1"
s3_protocol = "http"
s3_host = "127.0.0.1"
s3_port = 54327

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true
enable_email_confirmations = false
enable_sms_confirmations = false
enable_email_change_confirmations = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[auth.sms]
enable_signup = false
enable_confirmations = false
template = "Your code is {{ .Code }} ."

[functions.sync-snap-stores]
verify_jwt = false

[functions.places-proxy]
verify_jwt = false

[edge_runtime]
enabled = true
ip_version = "ipv6"
policy = "per_worker"
inspector_port = 8083
